<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 定义需要AOP 代理的类   -->
    <bean id="bookShopService" class="fun.lsof.spring.aop.common.BookShopService"/>

    <!-- 自定义方法切面   -->
    <bean id="customAspect" class="fun.lsof.spring.aop.config4xml.advice.CustomAspect"></bean>

    <!--  这2个参数是什么？  -->
    <aop:config expose-proxy="true" proxy-target-class="true">

        <!-- 配置需要切入的点，比如说指定的方法，指定的类，或者指定的参数等。 -->
        <!--  这里的表达式非常灵活，可以  -->
        <aop:pointcut id="modifyAction"
                      expression="execution(* *.delete*()) or execution(* *.update*())"></aop:pointcut>

        <!-- 进行更加细化的配置，可以指定某些切面的动作使用指定的切面方法 -->
        <aop:aspect id="myAspect" ref="customAspect">

            <aop:before method="before" pointcut-ref="modifyAction"></aop:before>
            <aop:after method="after" pointcut-ref="modifyAction"></aop:after>
            <!-- 更多配置... -->

        </aop:aspect>


    </aop:config>



</beans>

