<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 定义需要AOP 代理的类   -->
    <bean id="bookShopService" class="fun.lsof.spring.aop.common.BookShopService"/>

    <!-- 自定义方法切面   -->
    <bean id="methodAdvice" class="fun.lsof.spring.aop.config4xml.advice.MethodAdvice"></bean>

    <!--  这2个参数是什么？  -->
    <aop:config expose-proxy="true" proxy-target-class="true">

        <!-- 配置需要切入的点，比如说指定的方法，指定的类，或者指定的参数等。 -->
        <aop:pointcut id="modifyAction"
                      expression="execution(* *.delete*()) or execution(* *.update*())"></aop:pointcut>

        <!-- 配置关联关系，配置当切入点满足的情况下执行什么切面（一刀切，符合pointcut的都进行切面调用，也就是说你实现了什么接口，就可以回调什么方法，before，after 等）   -->
        <aop:advisor advice-ref="methodAdvice" pointcut-ref="modifyAction" ></aop:advisor>

        <!-- 这里也可以定义更多的 advisor，和 pointcut       -->

    </aop:config>

</beans>

